.panel-tabs {
    margin-bottom: 20px;
}

.panel-tabs .nav-tabs {
    border-bottom: 1px solid #ddd;
}

.panel-tabs .nav-tabs > li {
    margin-bottom: -1px;
}

.panel-tabs .nav-tabs > li > a {
    padding: 10px 15px;
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #555;
}

.panel-tabs .nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
    background-color: #f8f8f8;
}

.panel-tabs .nav-tabs > li.active > a,
.panel-tabs .nav-tabs > li.active > a:hover,
.panel-tabs .nav-tabs > li.active > a:focus {
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    background-color: #fff;
    font-weight: bold;
}

.tab-content > .tab-pane {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
}
